.container {
    display: flex;

}

aside {
    width: 329px;
    height: 2816px;
    background-color: #2D3E4F;
    display: flex;
    flex-direction: column;
    
    
    
}

.text{
    text-transform: uppercase;
    color: #CF404D;
    font-family: 'Jost', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 25px;
    width: 139px;
    height: 25px;
    font-style: normal;
    margin-top: 206px;
    margin-left: 95px;
    
}


.menu {
    width: 329px;
    height: 240px;
    
    margin-top: 79px;
    

}

ul {
    margin-top: 19px;

}

li {
    text-transform: uppercase;
    list-style-type: none;
    font-family: 'Jost', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 40px;
    margin-left: 95px;
    

}

section,
footer {
    width: 1111px;
}


.main {
    display: flex;
    flex-direction: column;

}

.one {
    height: 800px;
    background-image: url(/img/1.png);
}

h1 {
    width: 621px;
    height: 88px;
    font-family: 'Jost', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-style: normal;
    font-size: 50px;
    line-height: 44px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin: 305px 245px 0px 245px;
}

.btn {
    display: flex;
    margin-top: 46px;
    justify-content: center;
}

.btn_1, .btn_2 {
    font-family: 'Jost', sans-serif;
    font-family: 'Oswald', sans-serif;
    border: 2px solid white;
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 16px;
    line-height: 21px;
}

.btn_2 {
background-color: #CF404D;
border: #CF404D 2px solid;
margin-left: 15px;
}

.two {
    height: 549px;
}

h2 {
    font-family: 'Jost', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin-top: 57px;
    text-align: center;
    font-size: 31px;
    line-height: 36px;
    color: 
    #313131;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;

}

#text {
    font-family: 'DroidSans';
    color: rgba(115, 115, 115, 0.74);
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}

.box {
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
    align-items: flex-end;
}

.bow img {
    width: 80px;
    height: 46,67px;
}

.box p {
    width: 219px;
    height: 80px;
}

.three {
    height: 135px;
    background-color: #CF404D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_2 {
    font-size: 31px;
    font-family: 'Jost', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    margin: 41px 492px 58px 86px;
}

.btn_3 {
    font-family: 'Jost', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    color: white;
    font-style: normal;
    font-weight: 400;
    border: 2px white solid;
    padding: 15px;
    text-align: center;
}

.four {
    height: 740px;
}

.img img {
    width: 215px;
    height: 215px;
    margin-top: 72px;
    
    
}

.img, .img_2 {
    display: flex;
    justify-content: space-around;
    
}

.img {
    margin-bottom: 20px;
}


.five {
    height: 521px;
}

input {
    width: 281px;
    height: 45px;
    box-shadow: 0px 0px 0px rgba(64, 64, 71, 0.3);
border-radius: 3px;

}

.imya {
    margin-left: 264px;
    margin-top: 62px;
    margin-right: 21px;
    margin-bottom: 17px;
}


textarea {
    height: 110px;
    width: 599px;
    display: block;
    margin-left: 264px;
}

.btn_4 {
    width:605px ;
    margin-left: 264px;
    margin-top: 20px;
    background: #CF404D;
border-radius: 4px;
height: 45px;
}

footer {
    display: flex;
    align-items: center;
    height: 57px;
    justify-content: center;
}

.footer {
    
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-family: 'Oswald', sans-serif;
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 20px;
}